header {
  height: 250px;
  background-color: var(--primary-color);
  width: 100%;
}

/* header top */
.header-top {
  padding: 0 30px;
  height: 50px;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top-phone,
.header-top-text,
.header-top-link {
  font-size: 27px;
  font-weight: 500;
  color: var(--main-color);
}

.header-top-menu {
  display: none;
  font-size: 40px;
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
}

/* header middle */
.header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 50%;
}

.header-middle-logo {
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-middle-logo b {
  font-size: 20px;
}
.header-middle-logo i {
  font-size: 40px;
}
.search-wrapper {
  position: relative;
  width: 700px;
}

.search-wrapper input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
}

.search-wrapper input:focus {
  border-color: #444;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-wrapper i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #777;
}

.header-middle-cart-wrapper {
  font-size: 44px;
  color: white;
}

.header-middle-cart-wrapper {
  position: relative;
}

.cart-notification {
  position: absolute;
  top: -7px;
  right: -12px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

/* NavBar */
nav {
  background-color: var(--main-color);
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav li {
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul li a {
  font-size: 21px;
  font-weight: 600;
  color: #525452;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li:hover {
  background-color: snow;
}

nav ul li:hover a {
  color: var(--primary-color);
}

@media (max-width: 990px) {
  .search-wrapper {
    width: 600px;
  }
}

@media (max-width: 920px) {
  .header-top-text {
    font-size: 17px;
  }

  .header-middle-logo b {
    font-size: 17px;
  }

  .search-wrapper {
    width: 450px;
  }
}

@media (max-width: 720px) {
  .header-top-text {
    display: none;
  }
  .header-middle {
    flex-wrap: wrap;
    height: 80%;
  }

  .search-wrapper {
    width: 100%;
  }

  .header-middle-logo {
    display: none;
  }

  .header-top-menu {
    display: block;
  }

  nav {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 50px;
    left: -300px;
    display: block;
    transition: left 0.3s ease;
  }

  nav.open {
    left: 0;
  }

  nav ul {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  nav li {
    width: 100%;
  }

  nav ul li a {
    padding: 20px;
    display: block;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .header-top {
    padding: 0 15px;
  }

  .header-top-phone {
    font-size: 20px;
  }
}
